<div>
  <div (ngSubmit)="onSubmit()" [formGroup]="form"> <!-- in the sample this is a div tag. Changed this for asp.net implementation, where form in form is not allowed.-->
    <div *ngFor="let question of questions" class="form-group">
      <df-question [question]="question" [form]="form"></df-question>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>
    </div>
  </div>
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
{{this.form.status | json}}